doctype html
html
  head
    title Grand Topham Ranch
    meta(name="viewport" content="width=device-width, height=device-height, initial-scale=0.41, maximum-scale=1")

  body
    nav
      div(class="NavbarLinkContainer")
        a(class='NavbarLink' href='/Home') Home
      div(class="NavbarLinkContainer")
        a(class='NavbarLink' href='/Location') Location
      div(class="NavbarLinkContainer")
        a(class='NavbarLink Selected' href='/Products') Products
      div(class="NavbarLinkContainer")
        a(class='NavbarLink' href='/Services') Services
      div(class="NavbarLinkContainer")
        a(class='NavbarLink' href='/Invoice') Invoice

    div(class="BackgroundImageContainer")
      img(class='BackgroundImage' src='https://dl.dropboxusercontent.com/s/z89ru42kzouakmz/BackgroundImage.png' alt='Grand Topham Ranch')/

    div(class='ProductDetailHeading')
      a(href='/Products')
        img(class="BackButtonIcon" src="https://dl.dropboxusercontent.com/s/a1wkkhhb9dhdjer/icons8-Back%20Arrow-18.png" alt="Back to Products")
        button(class='BackButton HomeLink') Back to Products List

    div(class='BodyTitle')= local.name

    div(class='SelectedItemImageContainer')
        a(class='ItemImageLink' href='')
          img(class='SelectedImage' src='' alt=local.name)

    div(class='ItemImageContainer')
      each url in local.item.images
          div(class='ItemContainer')
            img(class='ItemImage' src=url alt=local.name name=local.name)/



  link(rel='stylesheet' type='text/css' href='./Home.css')/
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans')/

  script
    include ./scripts.js