doctype html
html
  head
    title Grand Topham Ranch

  body
    nav
      a(class='NavbarLink' href='/Home') Home
      a(class='NavbarLink' href='/Location') Location
      a(class='NavbarLink Selected' href='/Products') Products
      a(class='NavbarLink' href='/Services') Services
      a(class='NavbarLink' href='/Invoice') Invoice

    div(class="BackgroundImageContainer")
      img(class='BackgroundImage' src='./backgroundImage.png' alt='Grand Topham Ranch')/
    div(class='ProductDetailHeading')
      a(href='/Products')
        button(class='BackButton') Back to Products List

    div(class='BodyTitle')= local.name
    div(class='SelectedItemImageContainer')
      a(class='ItemImageLink' href='')
        img(class='SelectedImage' src='' alt=local.name)

    div(class='ItemImageContainer')
      each url in local.item.images
          div(class='ItemContainer')
            img(class='ItemImage' src=url alt=local.name name=local.name)/



  link(rel='stylesheet' type='text/css' href='./Home.css')/
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans')/

  script
    include ./scripts.js