doctype html
html
  head
    title Grand Topham Ranch
    meta(name="viewport" content="width=device-width, height=device-height")

  body
    nav
      div(class="NavbarLinkLeft")
        img(class="NavbarLogo" src="https://dl.dropboxusercontent.com/s/mpljtt3uyusjvod/LOGO.png")
      div(class="NavbarLinkRight")
        div(class="NavbarLinkContainer")
          a(class='NavbarLink' href='/Home') Home/Contact
        div(class="NavbarLinkContainer")
          a(class='NavbarLink' href='/Location') Location
        div(class="NavbarLinkContainer")
          a(class='NavbarLink Selected' href='/Products') Products
        div(class="NavbarLinkContainer")
          a(class='NavbarLink' href='/Services') Services
        div(class="NavbarLinkContainer")
          a(class='NavbarLink' href='/Quote') Quote

    div(class="BackgroundImageContainer")
      img(class='BackgroundImage' src='https://dl.dropboxusercontent.com/s/iyvlrs9ocmk74g6/ProductBackgroundPage.png' alt='Grand Topham Ranch')/

    div(class="BodyTitle") METAL: 90 DAY REQUEST AHEAD OF TIME
    div(class="BodyTitle") PLASTIC: 70 DAY REQUEST AHEAD OF TIME
    div(class="BodyTitle") Specialized Equipment Available Upon Request

    div(class='ProductsList')
      each item, itemName in local
        -var url = "/ProductDetail?item=" + itemName
        div(class='ProductItemContainer')
          a(class='ItemLink' href=url)
            img(class='ProductThumnail' src=item.images[0] alt=itemName)
          a(class='ItemLinkTitle' href=url)= itemName




  link(rel='stylesheet' type='text/css' href='./Home.css')/
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans')/