doctype html
html
  head
    title Grand Topham Ranch
    meta(name="viewport" content="width=device-width, height=device-height, initial-scale=0.41, maximum-scale=1")

  body
    nav
      div(class="NavbarLinkContainer")
        a(class='NavbarLink' href='/Home') Home
      div(class="NavbarLinkContainer")
        a(class='NavbarLink' href='/Location') Location
      div(class="NavbarLinkContainer")
        a(class='NavbarLink Selected' href='/Products') Products
      div(class="NavbarLinkContainer")
        a(class='NavbarLink' href='/Services') Services
      div(class="NavbarLinkContainer")
        a(class='NavbarLink' href='/Invoice') Invoice

    div(class="BackgroundImageContainer")
      img(class='BackgroundImage' src='https://dl.dropboxusercontent.com/s/z89ru42kzouakmz/BackgroundImage.png' alt='Grand Topham Ranch')/

    div(class='BodyTitle') Products Page

    div(class='ProductsList')
      each item, itemName in local
        -var url = "/ProductDetail?item=" + itemName
        div(class='ProductItemContainer')
          a(class='ItemLink' href=url)= itemName
          a(class='ItemLink' href=url)
            img(class='ProductThumnail' src=item.images[0] alt=itemName)




  link(rel='stylesheet' type='text/css' href='./Home.css')/
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans')/